server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:golfbeta}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: true

firebase:
  serviceAccountKey: "/Users/tobycc/Repos/golfbeta-backend/details/golfbeta-d29a7-firebase-adminsdk-fbsvc-379451e4d1.json"