server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:golfbeta}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: true

aws:
  region: ${AWS_REGION:eu-north-1}
  s3:
    bucket: ${AWS_S3_BUCKET:golfbeta-eu-north-1-videos-39695a}
    presign-duration-seconds: ${AWS_S3_PRESIGN_DURATION_SECONDS:300}
